<div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-danger material-icons botao m-2 p-1" routerLink="/">reply</button>
    <button class="btn btn-sm btn-success material-icons botao m-2 p-1" routerLink="/venda/criar">add</button>
</div>

<div class="container">
    <div class="row">
        <section class="col-md-7" style="border: 1px solid black; height: 100px;"></section>
        <section class="col-md-5" style="border: 1px solid black; height: 100px;"></section>
    </div>
</div>