<div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-danger material-icons botao m-2 p-1" routerLink="/">reply</button>
    <button class="btn btn-sm btn-success material-icons botao m-2 p-1" routerLink="/venda/criar">shopping_cart</button>
</div>

<section id="listaVendas">
    <div class="text-center">
        <h3>
            <strong>
                Vendas
            </strong>
        </h3>


        <div *ngIf="vendas.length > 0" class="d-flex justify-content-center">
            <div class="card w-75">
                <!-- <div class="card-header">
                    Filtrar
                </div> -->
                <div class="card-body">
                    <table class="table striped-table">
                        <thead>
                            <tr class="tex-center">
                                <th scope="col">#</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Veículo</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Data</th>
                                <th scope="col">Visualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of vendas" class="text-center">
                                <td>{{item.id}}</td>
                                <td>{{item.cliente.nome}}</td>
                                <td *ngIf="item.id_carro != null">
                                    {{item.carro.marca}} -
                                    {{item.carro.modelo}} -
                                    {{item.carro.ano_fabricacao}}
                                </td>
                                <td *ngIf="item.id_moto != null">
                                    {{item.moto.marca}} -
                                    {{item.moto.modelo}} -
                                    {{item.moto.ano_fabricacao}}
                                </td>
                                <td>R$ {{item.valor_total}}</td>
                                <td>{{item.created_at | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <i class="material-icons text-info button-visibility"
                                        (click)="visualizar(item.id)">visibility</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>