<div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-danger material-icons botao m-2 p-1" routerLink="/">reply</button>
    <button class="btn btn-sm btn-success material-icons botao m-2 p-1" routerLink="/venda/criar">add</button>
</div>


<div id="" class="text-center">
    <h3><strong>Vendas</strong></h3>
</div>


<div class="row">

    <section class="col-md-8">
        <div class="d-flex justify-content-center">
            <div class="card w-75">
                <div class=" card-body">
                    <table class="table striped-table">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Veículo</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Vendedor</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Forma PGTO</th>
                                <th scope="col">Data</th>
                                <th scope="col">Contrato</th>
                                <th scope="col">Visualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>1</td>
                                <td>Gol 1.6</td>
                                <td>Felipe Bernardo</td>
                                <td>Lucas Oliveira</td>
                                <td>R$13.000,00</td>
                                <td>PIX</td>
                                <td>08/09/2024</td>
                                <td><a href="#">Venda PIX</a></td>
                                <td><a href="#">clique aqui</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="col-md-4">
        <div class="d-flex justify-content-center">
            <div class="card w-75">
                <div class="card-body">
                    Histórico de vendas
                </div>
            </div>
        </div>
    </section>
</div>