<div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-danger material-icons botao m-2 p-1" routerLink="/">reply</button>
    <button class="btn btn-sm btn-success material-icons botao m-2 p-1" routerLink="/contratos/criar">add</button>
</div>

<section class="container">
    <div class="row">
        <div class="text-center">
            <h3>
                <strong>
                    Contratos
                </strong>
            </h3>
        </div>
        <div *ngFor="let item of contrato" class="col-md-4">
            <div class="d-flex justify-content-center">
                <div class="card w-100" id="contratoCard">
                    <div class="card-header text-center">
                        {{item.titulo_contrato}}
                    </div>
                    <div class="card-body" [innerHTML]="item.corpo_contrato"></div>
                    <div class="card-footer text-center">
                        <button class="btn btn-sm btn-success">Vincular Contrato</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>