<section class="container mt-2 mb-2">
    <div class="card">
        <div class="card-header text-center">
            <h3>
                <strong>
                    VINCULAR CONTRATO
                </strong>
            </h3>
        </div>

        <div class="card-body">
            <form class="row form-floating needs-validation" id="formCliente">

                <div class="col-md-6">
                    <label for="" class="form-label mt-2">Vincular Por</label>
                    <select name="" class="form-select mt-2" (change)="selecionarVinculo($event)" required>
                        <option value="" disabled selected>Selecione</option>
                        <option value="venda">Venda</option>
                        <option value="personalizado">Personalizado</option>
                    </select>
                </div>

                <div *ngIf="vendas.length > 0" class="col-md-6">
                    <label for="" class="form-label mt-2">Vendas</label>
                    <select name="id_venda" class="form-select mt-2" id="" [(ngModel)]="contratoVinculado.id_venda">
                        <option value="" disabled selected>Selecione</option>
                        <option *ngFor="let item of vendas" value="{{item.id}}">
                            <p *ngIf="item.id_moto != null">
                                Venda: {{item.id}} - Veículo:
                                {{item.moto.marca}} {{item.moto.modelo}} - Cliente: {{item.cliente.nome}}
                            </p>
                            <p *ngIf="item.id_carro != null">
                                Venda: {{item.id}} - Veículo:
                                {{item.carro.marca}} {{item.carro.modelo}} - Cliente: {{item.cliente.nome}}
                            </p>
                        </option>
                    </select>
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-sm btn-success w-25" (click)="criarContrato()">
                        Enviar e Imprimir
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>