<section class="mt-3 container">
    <div class="card">
        <div class="card-header text-center">
            <h3>Nova Venda</h3>
        </div>
        <div class="card-body">
            <form class="row form-floating needs-validation" id="formVenda">

                <div class="col-md-6">
                    <label for="listaCliente" class="form-label">Cliente</label>
                    <select name="id_cliente" [(ngModel)]="venda.id_cliente" class="form-select mt-2" required
                        (change)="selecionarCliente($event)">
                        <option value="" disabled selected>Selecione</option>
                        <option *ngFor="let item of clientes;" [value]="item.id">
                            {{item.nome}} - CPF: {{item.cpf}}
                        </option>
                    </select>

                    <div class="row mt-3" *ngIf="cliente.nome != '' ">
                        <div class="col-md-6 mt-2">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" name="nome" class="form-control" id="nome" placeholder=""
                                [(ngModel)]="cliente.nome" required disabled>
                        </div>

                        <div class="col-md-6 mt-2">
                            <label for="cpf" class="form-label">CPF</label>
                            <input type="text" name="cpf" class="form-control" id="cpf" placeholder=""
                                [(ngModel)]="cliente.cpf" disabled>
                        </div>

                        <div class="col-md-8 mt-2">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="text" name="email" class="form-control" id="email" placeholder=""
                                [(ngModel)]="cliente.email" disabled>
                        </div>

                        <div class="col-md-4 mt-2">
                            <label for="nascimento" class="form-label">Data de Nascimento</label>
                            <input type="text" name="nascimento" class="form-control" id="data-nascimento"
                                placeholder="" [(ngModel)]="cliente.nascimento" disabled>
                        </div>

                        <div class="col-md-4 mt-2">
                            <label for="rua" class="form-label">Rua</label>
                            <input type="text" name="end_rua" class="form-control" id="rua" placeholder=""
                                [(ngModel)]="cliente.end_rua" disabled>
                        </div>

                        <div class="col-md-4 mt-2">
                            <label for="numero" class="form-label">Número</label>
                            <input type="text" name="end_numero" class="form-control" id="numero" placeholder=""
                                [(ngModel)]="cliente.end_numero" disabled>
                        </div>

                        <div class="col-md-4 mt-2">
                            <label for="bairro" class="form-label">Bairro</label>
                            <input type="text" name="end_bairro" class="form-control" id="bairro" placeholder=""
                                [(ngModel)]="cliente.end_bairro" disabled>
                        </div>

                        <div class="col-md-8 mt-2">
                            <label for="cidade" class="form-label">Cidade</label>
                            <input type="text" name="end_cidade" class="form-control" id="cidade" placeholder=""
                                [(ngModel)]="cliente.end_cidade" disabled>
                        </div>

                        <div class="col-md-4 mt-2">
                            <label for="uf" class="form-label">UF</label>
                            <input type="text" name="end_estado" class="form-control" id="uf" placeholder=""
                                [(ngModel)]="cliente.end_estado" disabled>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="listaVeiculo" class="form-label">Tipo do Veículo</label>
                    <select name="veiculo" class="form-select mt-2" (change)="encontrarVeiculo($event)" required>
                        <option value="" disabled selected>Selecione</option>
                        <option value="carro">Carro</option>
                        <option value="moto">Moto</option>
                    </select>

                    <div *ngIf="carros.length > 0 || motos.length > 0" class="mt-3">
                        <label for="listaVeiculo" class="form-label">Selecione o Veículo</label>

                        <select name="id_carro" class="form-select mt-2" *ngIf="carros.length > 0" required
                            (change)="selecionarCarro($event)" [(ngModel)]="venda.id_carro">
                            <option value="" disabled selected>Selecione</option>
                            <option *ngFor="let item of carros;" [value]="item.id">
                                {{item.marca}} {{item.modelo}} {{item.potencia_motor}} - {{item.ano_fabricacao}}
                            </option>
                        </select>

                        <select name="id_moto" class="form-select mt-2" *ngIf="motos.length > 0" required
                            (change)="selecionarMoto($event)" [(ngModel)]="venda.id_moto">
                            <option value="" disabled selected>Selecione</option>
                            <option *ngFor="let item of motos;" [value]="item.id">{{item.marca}} {{item.modelo}}
                                {{item.potencia_motor}} - {{item.ano_fabricacao}}
                            </option>
                        </select>
                    </div>

                    <div class="row mt-2" *ngIf="carros.length > 0" id="fichaCarro">
                        <div class="col-md-6">
                            <label for="marca" class="form-label">Marca</label>
                            <input type="text" name="marca" class="form-control" id="marca" placeholder=""
                                [(ngModel)]="carro.marca" disabled>
                        </div>

                        <div class="col-md-6">
                            <label for="modelo" class="form-label">Modelo</label>
                            <input type="text" name="modelo" class="form-control" id="modelo" placeholder=""
                                [(ngModel)]="carro.modelo" disabled>
                        </div>

                        <div class="col-md-4 mt-2">
                            <label for="motor" class="form-label">Motor</label>
                            <input type="text" name="motor" class="form-control" id="motor" placeholder=""
                                [(ngModel)]="carro.potencia_motor" disabled>
                        </div>

                        <div class="col-md-4  mt-2">
                            <label for="placa" class="form-label">Placa</label>
                            <input type="text" name="placa" class="form-control" id="placa" placeholder=""
                                [(ngModel)]="carro.placa" disabled>
                        </div>

                        <div class="col-md-4  mt-2">
                            <label for="cambio" class="form-label">Cambio</label>
                            <input type="text" name="cambio" class="form-control" id="cambio" placeholder=""
                                [(ngModel)]="carro.cambio" disabled>
                        </div>

                        <div class="col-md-4  mt-2">
                            <label for="cor" class="form-label">Cor</label>
                            <input type="text" name="cor" class="form-control" id="cor" placeholder=""
                                [(ngModel)]="carro.cor" disabled>
                        </div>


                        <div class="col-md-4  mt-2">
                            <label for="km" class="form-label">KM</label>
                            <input type="text" name="km" class="form-control" id="km" placeholder=""
                                [(ngModel)]="carro.km_atual" disabled>
                        </div>


                        <div class="col-md-4  mt-2">
                            <label for="valor" class="form-label">Valor</label>
                            <input type="text" name="valor" class="form-control" id="valor" placeholder=""
                                [(ngModel)]="carro.valor" disabled>
                        </div>
                    </div>

                    <div class="row mt-2" *ngIf="motos.length > 0" id="fichaCarro">
                        <div class="col-md-6">
                            <label for="marca" class="form-label">Marca</label>
                            <input type="text" name="marca" class="form-control" id="marca" placeholder=""
                                [(ngModel)]="moto.marca" disabled>
                        </div>

                        <div class="col-md-6">
                            <label for="modelo" class="form-label">Modelo</label>
                            <input type="text" name="modelo" class="form-control" id="modelo" placeholder=""
                                [(ngModel)]="moto.modelo" disabled>
                        </div>

                        <div class="col-md-4 mt-2">
                            <label for="motor" class="form-label">Motor</label>
                            <input type="text" name="motor" class="form-control" id="motor" placeholder=""
                                [(ngModel)]="moto.potencia_motor" disabled>
                        </div>

                        <div class="col-md-4  mt-2">
                            <label for="placa" class="form-label">Placa</label>
                            <input type="text" name="placa" class="form-control" id="placa" placeholder=""
                                [(ngModel)]="moto.placa" disabled>
                        </div>

                        <div class="col-md-4  mt-2">
                            <label for="cambio" class="form-label">Cambio</label>
                            <input type="text" name="cambio" class="form-control" id="cambio" placeholder=""
                                [(ngModel)]="moto.cambio" disabled>
                        </div>

                        <div class="col-md-4  mt-2">
                            <label for="cor" class="form-label">Cor</label>
                            <input type="text" name="cor" class="form-control" id="cor" placeholder=""
                                [(ngModel)]="moto.cor" disabled>
                        </div>


                        <div class="col-md-4  mt-2">
                            <label for="km" class="form-label">KM</label>
                            <input type="text" name="km" class="form-control" id="km" placeholder=""
                                [(ngModel)]="moto.km_atual" disabled>
                        </div>


                        <div class="col-md-4  mt-2">
                            <label for="valor" class="form-label">Valor</label>
                            <input type="text" name="valor" class="form-control" id="valor" placeholder=""
                                [(ngModel)]="moto.valor" disabled>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <label for="vendedor" class="form-label mt-3">Vendedor</label>
                    <select name="id_vendedor" [(ngModel)]="venda.id_vendedor" class="form-select mt-2" required>
                        <option value="" disabled selected>Selecione</option>
                        <option *ngFor="let item of user;" [value]="item.id">
                            {{item.name}}
                        </option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="valorTotal" class="form-label mt-3">Valor Venda</label>
                    <input type="text" name="valorTotal" class="form-control mt-2" [(ngModel)]="venda.valor_total"
                        required placeholder="R$">
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <button class="w-50 btn btn-sm btn-success m-3" type="submit" (click)="enviar()">Cadastrar
                        Venda</button>
                </div>
            </form>
        </div>
    </div>
</section>