<mat-sidenav-container class="">
    <mat-sidenav class="sidenav nav" mode="side" opened fixedInViewport="true" fixedTopGap="" id="nav">
        <mat-nav-list>
            <a *ngFor="let item of menu" mat-list-item [routerLink]="item.link">
                <i class="material-icons text-light">{{item.icone}}</i>
                <span *ngIf="condition == true" class="text-light pt-1 nome-menu">{{item.nome}}</span>
            </a>
 
            <a *ngIf="condition == false" (click)="abrirOuFecharMenu(true)" mat-list-item class="menuOpen">
                <i  class="material-icons text-light">double_arrow</i>
            </a>

            <a *ngIf="condition == true" (click)="abrirOuFecharMenu(false)" mat-list-item class="menuOpen">
                <i  class="material-icons text-light" style="transform: scaleX(-1);">double_arrow</i>
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>