# Arquivos de compilação
dist/
tmp/
.ng_build/

# Dependências
node_modules/

# Logs e saída de compilação
logs/
*.log
npm-debug.log*

# Arquivos de configuração
.editorconfig
.eslintcache
.vscode/

# Outros
.DS_Store
Thumbs.db
